/* some style */
.splash-screen {
    background-image: url('../img/turf.jpg');
    background-size : cover;
    height : inherit;
}


.app-container {
    height : inherit;
    width : inherit;
}


nav ul a {
    padding: 0 0.2em;
}

nav .button-collapse i {
    font-size: 2em;
}

.nav-bar-bg {
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}


/* Nav css */
.cbp-spmenu {
	background: #47a3da;
	position: fixed;
	}
	.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
	}
	.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;

}
	.cbp-spmenu a:hover {
	background: #258ecd;
	}
	.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
	}

  .cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
	}
	.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
	}
.cbp-spmenu-left {
left: -240px;
	}
	.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	}
  .cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}

  /* css */
  .navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}